@model PostProductVM
@{
    ViewBag.Title = "Post";
}
<div class="form-material container mt-5 w-50">
    <h1 class="text-primary my-3">Product Table</h1>
    <a asp-action="Index" class="btn btn-danger">Go To Index</a>
    <div class="text-danger my-3" asp-validation-summary="All">

    </div>
    <form enctype="multipart/form-data" method="post">
        <div class="form-group form-default">
            <input asp-for="Name" class="form-control">
            <span class="form-bar"></span>
            <label class="float-label">Product Name</label>
        </div>
        <div class="form-group form-default">
            <label class="my-2">Brand</label>
            <select asp-for="BrandId" asp-items="@ViewBag.Brands" class="form-control">
                <option selected value=@null>-</option>
            </select>
            <span class="form-bar"></span>

        </div>
        <div class="form-group form-default">
            <label class="my-2">Category</label>
            <select asp-for="CategoryId" asp-items="@ViewBag.Categories" class="form-control">
                <option selected value=@null>-</option>
            </select>
            <span class="form-bar"></span>

        </div>
        <div class="form-group form-default">
            <label class="my-2">Tag</label>
            <select  asp-for="TagIds" asp-items="@ViewBag.Tags" class="form-control">
            </select>
            <span class="form-bar"></span>

        </div>
        <div class="form-group form-default">
            <label class=" my-2">Product Image</label>
            <input asp-for="Images" class="form-control">
            <span class="form-bar"></span>

        </div>
        <button type="submit" class="btn btn-success">Submit</button>
    </form>

</div>



